.action svg {
    width: 1.2rem;
    fill: #888;
    margin-right: .2rem;
}
.action span {
    color: #888;
    font-size: .9rem;
    position: absolute;
    margin: 0;
}
.comment {
    margin-left: 1.5rem;
}