.form {
    width: 100%;
    bottom: 0;
    background: #fff;
    position: fixed;
    box-sizing: border-box;
    padding: 1.5rem 3.5rem;
}
.form img {
    width: 100%;
}
.form input {
    display: none;
}
.form textarea {
    width: 100%;
    font-size: 1rem;
    border: .1rem solid #ccc;
    border-radius: .3rem;
    padding: .5rem;
}
.form .camera {
    width: 1.2rem;
    left: 1.5rem;
    fill: #1890ff;
    position: absolute;
}
.form .send {
    width: 1.2rem;
    right: 1.5rem;
    fill: #1890ff;
    position: absolute;
}